<div class="basic-form">
  <h2>New book</h2>
  <%= form_tag books_path, method: :post do %>
    <div class="field">
      <%= text_field_tag 'title', '', placeholder: 'title', autofocus: true %>
    </div>

    <div class="field">
      <%= text_field_tag 'isbn', '', placeholder: 'isbn' %>
    </div>

    <%= button_tag type: 'submit', class: 'btn' do %>
      save
    <% end %>
  <% end %>
  <%= button_to 'cancel', books_path, method: :get %>
</div>
